server {
    listen  The IP address on which to accept incoming requests and the port on which to listen. The value can be in the format of "IP Address:Port" or just "Port". The default value is *:80.
    server_name example.com;
    root /usr/share/nginx/html;

    index index.html index.htm;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
